<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nolane.stacks">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.LauncherActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN"/>

                <category
                    android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <activity
            android:name=".ui.CreateFirstStackActivity"/>

        <activity
            android:name=".ui.CreateStackActivity"/>

        <activity
            android:name=".ui.AddCardActivity"
            android:parentActivityName=".ui.AllStacksActivity"/>

        <activity
            android:name=".ui.TrainingActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.PickStackActivity"/>

        <activity
            android:name=".ui.EditCardActivity"
            android:parentActivityName=".ui.AllCardsActivity"/>

        <activity
            android:name=".ui.EditStackActivity"
            android:parentActivityName=".ui.AllStacksActivity"/>

        <activity
            android:name=".ui.PickStackActivity"/>

        <activity
            android:name=".ui.AllCardsActivity"/>

        <activity
            android:name=".ui.AllStacksActivity"/>

        <provider
            android:authorities="com.nolane.stacks.provider"
            android:name="com.nolane.stacks.provider.CardsProvider"
            android:exported="false"
            android:readPermission="com.nolane.stacks.provider.READ"
            android:writePermission="com.nolane.stacks.provider.WRITE"/>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIrofR_Ayyu6Tnw5KkLC83sa2iqDi4scG2Dk0gTg" />

    </application>

</manifest>
