<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nolane.stacks">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name="com.nolane.stacks.controller.activities.CreateDictionaryActivity"/>
        <activity android:name="com.nolane.stacks.controller.activities.CreateFirstDictionaryActivity"
            android:noHistory="true"/>
        <activity android:name="com.nolane.stacks.controller.activities.AddCardActivity"/>
        <activity android:name="com.nolane.stacks.controller.activities.TrainingActivity"/>
        <activity android:name="com.nolane.stacks.controller.activities.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.nolane.stacks.provider"
            android:name="com.nolane.stacks.model.CardsProvider"
            android:exported="false"
            android:readPermission="com.nolane.stacks.provider.READ"
            android:writePermission="com.nolane.stacks.provider.WRITE"/>
    </application>
</manifest>
